<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:5000/occurrence" method="POST" enctype="multipart/form-data">
        <input type="text" name="date">

        <input type="text" name="hour">

        <input type="number" name="auto_number">
        
        <input type="text" name="obs">

        <input type="text" name="proper">

        <input type="text" name="cellphone" maxlength="11">

        <input type="number" name="latitude">

        <input type="number" name="longitude">

        <input type="number" name="occurrenceNumber"> 

        <input type="number" name="problem"> 

        <input type="number" name="status_ocorrence"> 

        <input type="number" name="citizenOcurrence"> 
        
        <input type="file" name="file" accept="image/*" multiple/>
        <input type="submit"/>
    </form>
</body>
</html>